.footer-socials {
  display: flex;

  &__item {
    @extend .mr3;
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    background-size: 2.6rem;
    transition: all 150ms ease-in;
    border-radius: 50%;

    &:last-child {
      margin-right: 0;
    }

    @include breakpoint-down("xs") {
      margin: 2rem 2rem 2rem 0;
    }

    &.fb {
      background: url("../static/images/svg/facebook.svg") center no-repeat $second-color;
    }

    &.twitter {
      background: url("../static/images/svg/twitter.svg") center no-repeat $second-color;
    }

    &.insta {
      background: url("../static/images/svg/instagram.svg") center no-repeat $second-color;
    }

    &.yt {
      background: url("../static/images/svg/youtube.svg") center no-repeat $second-color;
    }

    &.linkedin {
      background: url("../static/images/svg/linkedin.svg") center no-repeat $second-color;
    }

    &:hover {
      opacity: .8;
    }
  }
}

#gototop {
  background: url("../static/images/svg/scrollup.svg") center no-repeat;
  width: 4rem;
  height: 4rem;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  z-index: 10;
  opacity: 1;
}
