<div class="footer-socials">

    {% for social in options.socials %}

        {% if social.link %}
            <a href="{{ social.link.url }}" class="footer-socials__item {{ social.icon }}" target="_blank"
               {% if social.nofollow %}rel="nofollow"{% else %}rel="noopener"{% endif %}></a>
        {% endif %}

    {% endfor %}
</div>
<a href="#top" id="gototop"></a>
