.cta-bg {
  margin: 5rem 0;

  &__content {
    display: grid;
    grid-template-columns: 62% 1fr;
    align-self: center;
    width: 100%;
    padding-bottom: 3rem;
    border-bottom: .2rem solid $second-color;
    max-width: 97rem;

    @include breakpoint-down("xs") {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }

  &__text {
    * {
      @extend .h3;

      @include breakpoint-down("xs") {
        text-align: center;
      }

      small {
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.4;
        display: inherit;
      }

      a {
        color: $second-color;
        text-decoration: none;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: flex-end;

    @include breakpoint-down("xs") {
      justify-content: center;
    }
  }
}