<section class="cta-bg">
    <div class="o-container">
        <div class="cta-bg__content" uk-scrollspy="cls: uk-animation-fade; target: div; delay: 100; repeat: true">
            <div class="cta-bg__text">
                {{ section.text }}
            </div>
            <div class="cta-bg__btn">
                <a href="{{ section.button.url }}" class="btn btn--main"{% if section.button.target %} target="{{ section.button.target }}"{% endif %}{% if section.nofollow %} rel="nofollow"{% endif %}>
                    {{ section.button.title }}
                </a>
            </div>
        </div>
    </div>
</section>