<div class="pagination">
    <div class="pagination__content">
        <a href="{% if posts.pagination.prev %}{{ posts.pagination.prev.link }}{% else %}#!{% endif %}" class="prev">
            <span class="uk-margin-small-right uk-icon" uk-icon="chevron-left"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polyline fill="none" stroke="#000" stroke-width="1.03" points="13 16 7 10 13 4"></polyline></svg></span>
        </a>
        <div class="pagination__list">
            {% set last = posts.pagination.pages|last %}

            {% for page in posts.pagination.pages %}
                {% if page.current %}
                    <span class="{{ page.class }}">{{ page.title }}</span>
                {% endif %}
            {% endfor %}
            {{ __('z', 'profistal') }}
            {% for page in posts.pagination.pages %}
                {% if page|last %}
                    <a href="{{ last.link }}" class="{{ last.class }} last">{{ last.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <a href="{% if posts.pagination.next %}{{ posts.pagination.next.link }}{% else %}#!{% endif %}" class="next">
            <span class="uk-margin-small-right uk-icon" uk-icon="chevron-right"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polyline fill="none" stroke="#000" stroke-width="1.03" points="7 4 13 10 7 16"></polyline></svg></span>        </a>
    </div>

</div>