{% extends 'base.twig' %}

{% block body %}
    <section class="hero-main"  style="background-image: url({{ post.thumbnail.src }})">
        <div class="hero-main__container">
            <div class="hero-main__row">
                <div class="hero-main__inner">
                </div>
            </div>
        </div>
    </section>

    <section class="title-page">
        <div class="o-container">
            <div class="title-page__text" uk-scrollspy="cls:uk-animation-fade; delay: 100; repeat:true;">
                <h1><span style="color: #FFBE0C">{{ post.title }}</span></h1>
            </div>
        </div>
    </section>


    <section class="blog-post">
        <div class="o-container">
            <div class="blog-post__content">
                {{ post.content }}
            </div>
        </div>
    </section>




{% endblock %}

