.graylist {
  padding: 10rem 0;

  &__wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    display: grid;

    @include breakpoint-down("md") {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include breakpoint-down("xs") {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item {
    padding: 0;
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;

    &:nth-child(2n) {
      margin: 0;
    }

    &-img{
      width: 100%;
      background-color: $second-color;
      height: 7rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      img {
        width: 4rem;
        height: auto;
      }
    }
  }

  &__item-text {
    font-size: 1.2rem;
    color: $main-color;
    text-align: center;
    line-height: 1.2;
    margin-top: .5rem;
  }



}