<section class="graylist">
    <div class="o-container">
        {% if section.title %}
            <div class="title-center" uk-scrollspy="cls:uk-animation-fade; target: > *; delay: 100; repeat:true;">
                {{ section.title }}
            </div>
        {% endif %}
        <div class="graylist__wrapper" uk-scrollspy="cls:uk-animation-fade; target: .graylist__item; delay: 150; repeat:true;">

            {% for item in section.list %}
                <div class="graylist__item">
                    <div class="graylist__item-img">
                        <img src="{{ item.img.url }}" alt="{{ item.img.alt }}">
                    </div>
                    <div class="graylist__item-text">
                        {{ item.name }}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>