.service {
  background-repeat: no-repeat;
  background-size: 37rem;
  background-position: top left;
  padding: 0 0 5rem;
  margin-top: 3rem;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;

    @include breakpoint-down("lg") {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include breakpoint-down("md") {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint-down("xs") {
      grid-template-columns: 1fr;
    }

    a {
      &:hover {
        color: $second-color ;
      }
    }

    &-item {
      display: flex;
      flex-flow: column;
    }
  }

  .list-bg {
    display: flex;
    flex-flow: column;
    background: #FAFAFA;
    padding: .3rem 2rem;

    a {
      color: $black;

      &:hover {
        color: $second-color ;
      }
    }

  }

  .item-title {
    @extend .h3;
    text-transform: uppercase;
    color: $main-color;
  }

  .item {
    text-transform: uppercase;
    color: $black;
    font-weight: $font-500;
  }
}

body.home {
  .service {
    @include breakpoint-down("xxl") {
      padding: 29rem 0 5rem;
    }
  }
}