<section class="service"
         {% if section.image %}style="background-image: url({{ section.image.url }})"{% endif %}>
    <div class="o-container">
        <div class="o-row">
            {% if section.title %}
                <h2 class="title-center mint">
                    {{ section.title }}
                </h2>
            {% endif %}
            <div class="service__list" uk-scrollspy="cls: uk-animation-fade; target: .service__list-item; delay: 100; repeat: true">
                {% for item in section.services %}
                    <div class="service__list-item">
                        <a href="{{ item.title.url }}"
                           class="item-title"{% if item.nofollow %} rel="nofollow"{% endif %}>
                            {{ item.title.title }}
                        </a>
                        {% for elem in item.links %}
                            <a href="{{ elem.link.url }}"
                               class="item"{% if elem.nofollow %} rel="nofollow"{% endif %}>
                                {{ elem.link.title }}
                            </a>

                            {% for list in elem.sublist %}
                                <div class="list-bg">
                                    <a href="{{ list.link.url }}"
                                       class="item-bg"{% if elem.nofollow %} rel="nofollow"{% endif %}>
                                        {{ list.link.title }}
                                    </a>
                                </div>
                            {% endfor %}

                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section>