<section class="hero-main {% if fn('is_front_page') %}homepage{% endif %}"  style="background-image: url({{ section.bg.url }})">
    <div class="hero-main__container">
        <div class="hero-main__row">
            <div class="hero-main__inner">
                {% if section.title %}
                    <div class="hero-main__title" uk-scrollspy="cls:uk-animation-slide-left; delay: 100; repeat:true;">
                        {{ section.title }}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</section>

<section class="title-page">
    <div class="o-container">
        <div class="title-page__text" uk-scrollspy="cls:uk-animation-fade; delay: 100; repeat:true;">
            {% if section.text %}
                {{ section.text }}
            {% endif %}
        </div>
    </div>
</section>
