.hero {
  overflow: hidden;
  width: 100%;
}

.hero-main {
  min-height: 45rem;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: top right;
  background-color: $white;
  background-size: cover;
  margin-bottom: 7rem;

  @include breakpoint-down("lg") {
    min-height: 40rem;
  }

  @include breakpoint-down("sm") {
    min-height: 31rem;
  }

  @include breakpoint-down("xs") {
    min-height: 13rem;
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    z-index: 0;
    bottom: 0;
    left: 0;
    max-width: 120rem;
    width: 100%;
    height: 100%;
    background: url("../static/images/svg/hero-page.svg") no-repeat;
    mix-blend-mode: multiply;
    background-size: 102%;
  }

  &.homepage {
    height: 85vh;

    &:before, &:after {
      content: "";
      position: absolute;
      display: block;
      z-index: 0;
      mix-blend-mode: multiply;
    }

    &:before {
      top: 0;
      right: 0;
      max-width: 70rem;
      width: 100%;
      height: 30rem;
      background: url("../static/images/yellow-top.png");

      @include breakpoint-down("lg") {
        background-size: cover;
        max-width: 47rem;
        height: 20rem;
      }

      @include breakpoint-down("sm") {
        max-width: 47rem;
        width: 57%;
        height: 19rem;
        background-size: cover;
      }

      @include breakpoint-down("xs") {
        height: 11rem;
      }

    }

    &:after {
      bottom: 0;
      left: 0;
      max-width: 124rem;
      width: 100%;
      height: 45rem;
      background: url("../static/images/blue-bottom.png");

      @include breakpoint-down("lg") {
        max-width: 98rem;
        background-size: cover;
        height: 33rem;
      }

      @include breakpoint-down("sm") {
        height: 24rem;
        max-width: 68rem;
        background-size: cover;
      }

      @include breakpoint-down("xs") {
        height: 28rem;
      }

    }
  }

  &__container {
    @extend .o-container;
    position: relative;
    z-index: 7;
    height: 100%;
  }

  &__row {
    @extend .o-grid;
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 10rem;

    @include breakpoint-down("lg") {
      padding-bottom: 4rem;
    }
  }

  &__title {
    @extend .mb3;

    * {
      @extend .h1;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }
}

.slick-list {
  padding: 0 !important;
}

.slick-arrow {
  width: 5rem;
  height: 5rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 1px rgba(20, 20, 51, 0.19);
  border-radius: 50%;
  display: block;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
  background-size: 2.4rem;
  background-repeat: no-repeat;
  position: absolute;
  top: 47%;
  z-index: 20;

  &:hover {
    transform: scale(1.075);
    box-shadow: 0 0 20px 1px rgba(20, 20, 51, 0.11);
  }

  &:focus {
    outline: 0;
    background-color: $second-color;
  }

  @include breakpoint-down("lg") {
    display: none !important;
  }


  &.slick-prev {
    background-image: url("../static/images/svg/chevron-down.svg");
    background-position: center;
    left: 25px;
    transform: rotate(90deg);

    @include breakpoint-down("sm") {
      left: 10px;
    }
  }

  &.slick-next {
    background-image: url("../static/images/svg/chevron-down.svg");
    background-position: center;
    right: 25px;
    transform: rotate(-90deg);

    @include breakpoint-down("sm") {
      right: 10px;
    }
  }

}

.title-page {
  margin-bottom: 5rem;

  &__text {
    * {
      text-transform: uppercase;
    }

    h1 {
      line-height: 1.2;

      span {
        font-size: 6rem;

        @include breakpoint-down("md") {
          font-size: 4rem;
        }
      }
    }
  }
}