$primary-color: $main-color;
$primary-color-dark: darken( $primary-color, 10% );
$primary-color-tint-1: lighten( $primary-color, 10% );
$primary-color-tint-2: lighten( $primary-color, 20% );
$primary-color-tint-3: lighten( $primary-color, 30% );
$primary-color-tint-4: lighten( $primary-color, 40% );
$primary-color-tint-5: lighten( $primary-color, 50% );
$link-color: $primary-color;

$nav-width: 65vw;
$nav-padding: 1rem 0.5rem;
$nav-border-color: $primary-color-tint-5;
$nav-background-color: $white;
$nav-icon-font: 'Material Icons';
$nav-icon-arrow-right: 'chevron_right';
$nav-icon-arrow-left: 'chevron_left';

$nav-level-border-color: $primary-color;
$nav-level-background-color: $primary-color-tint-5;

$nav-level3-background-color: $primary-color-tint-4;
$nav-level4-background-color: $primary-color-tint-3;
$nav-level5-background-color: $primary-color-tint-2;

.nav-drill {
  margin-top: 8.3rem;

  @include breakpoint-up("xs") {
    margin-top: 9.8rem;
  }
}
.nav-is-toggled {

  #gototop {
    display: none;
    opacity: 0;
    transition: .45s;
  }

  .nav-drill {
    transform: translateX(0);
    width: $nav-width;
  }
  &::after {
    opacity: 1;
    visibility: visible;
  }
}

.nav {
  &-drill {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 0;
    height: 85vh;
    background-color: $nav-background-color;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: 0.45s;

    @include breakpoint-down("md") {
      display: flex;
      transform: translateX(100%);
    }
  }

  &-items {
    flex: 0 0 100%;
    position: relative;
    min-height: 48rem;
  }

  &-link {
    display: block;
    padding: $nav-padding;
    //background-color: $nav-background-color;
    color: $main-color;
    font-size: 1.8rem;
    line-height: 1.5em;
    font-weight: 300;
    text-align: center;

    b {
      font-weight: 400;
    }
  }

  &-expand {
    &-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(100%);
      z-index: 2;
      transition: 0.3s;
      visibility: hidden;

      .nav-back-link {
        display: flex;
        align-items: center;
        background-color: $primary-color !important;
        color: $white;

        &::before {
          content: $nav-icon-arrow-left;
          margin-right: 0.5em;
          font-family: $nav-icon-font;
        }
      }
    }

    &-link {
      display: flex;
      justify-content: center;

      &::after {
        content: $nav-icon-arrow-right;
        flex: 0 1 auto;
        font-family: $nav-icon-font;
      }
    }

    &.active {
      > .nav-expand-content {
        transform: translateX(0);
        visibility: visible;
        background: $white;
      }
    }
  }
}

.flex-column {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  bottom: 4rem;
  left: 0;
  width: 100%;

  .footer-socials__item {
    margin: 1rem 1rem 0 0;
  }
}