<nav class="nav-drill">

    <ul class="nav-items nav-level-1">
        {% set items = menu.items %}

        {% for item in items %}

            <li class="nav-item {% if item.children %}nav-expand {% endif %} {% if item.slug == post.post_name %}current{% endif %}">

                <a href="{{ item.link }}" class="nav-link {% if item.children %}nav-expand-link{% endif %}">
                    {{ item.title }}
                </a>
                {% if item.children %}

                    {% include "nav-mobile/nav-mobile-sub.twig" with {'items': item.children, 'class': 'nav-items nav-expand-content'} %}


                {% endif %}

            </li>

        {% endfor %}
        <li class="flex-column">
            {% if options.phone %}
                <div class="top__phone top__icon">
                    <a href="tel:+48{{ options.phone|replace({' ':''}) }}">{{ options.phone }}</a>
                </div>
            {% endif %}
            {% if options.email %}
                <div class="top__email top__icon">
                    <a href="mailto:{{ options.email }}">{{ options.email }}</a>
                </div>
            {% endif %}
            {% include 'footer-socials/footer-socials.twig' %}
        </li>
    </ul>

</nav>