<ul class="{{ class }}">
	{% for item in item.children %}
	<li class="nav-item {% if item.children %}nav-expand {% endif %}">
		<a href="{{ item.link ? item.link : ' ' }}" class="nav-link {% if item.children %}nav-expand-link{% endif %}">
			{{ item.title }}
		</a>
		{% if item.children %}
		{% include "nav-mobile/nav-mobile-sub.twig" with {'items': item.children, 'class': 'nav-items nav-expand-content'} %}
		{% endif %}
	</li>
	{% endfor %}
</ul>
