.text-icon {
  padding: 1rem 0;

  @include breakpoint-down("sm") {
    padding: 3rem 0;
  }

  &__wrapper {
    width: 100%;
    display: grid;
    column-gap: 5rem;
    grid-template-columns: 1fr;

    @include breakpoint-down("sm") {
      grid-template-columns: 1fr;
      column-gap: 1rem;
    }

    > * {
      align-self: center;
    }
  }

  &__col {
    p {
      margin-bottom: 1.6rem;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: 100%;
    max-width: 37rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding: 0 2rem;

    &:nth-child(2n) {
      margin: 0 2rem;
    }

    &:nth-child(4), &:nth-child(5), &:nth-child(6) {
      margin-bottom: 4rem;
    }

    @include breakpoint-down("md") {
      max-width: 45%;
    }

    @include breakpoint-down("xs") {
      max-width: 100%;
    }

    .circle {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      background: $second-color;
    }

    &-text {
      margin-top: 2rem;

      &:first-line {
        font-weight: $font-600;
      }
    }
  }

  .title-center {
    * {
      text-transform: uppercase;
    }
  }
}