<section class="text-icon">
    <div class="o-container">
        {% if section.title %}
        <div class="title-center" uk-scrollspy="cls:uk-animation-fade; target: > *; delay: 100; repeat:true;">
            {{ section.title }}
        </div>
        {% endif %}
        <div class="text-icon__wrapper">
            {% if section.text %}
            <div class="text-icon__col" uk-scrollspy="cls:uk-animation-fade; target: > *: 120; repeat:true;">{{ section.text }}</div>
            {% endif %}
            <div class="text-icon__col">
                <div class="text-icon__list" uk-scrollspy="cls:uk-animation-fade; target: .text-icon__item; delay: 150; repeat:true;">
                    {% for item in section.icon %}
                        <div class="text-icon__item">
                            <div class="circle"></div>
                            <div class="text-icon__item-text">
                                {{ item.text }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>