.full-text {
  padding: 2rem 0;

  &__wrapper {
    h2, h3 {
      text-transform: uppercase;
      margin-bottom: 3rem;
    }

    ul {
      @extend .custom-ul;
    }

    p {
      margin-bottom: 1.6rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}