<section class="full-text">
    <div class="o-container">
        <div class="full-text__wrapper" uk-scrollspy="cls: uk-animation-fade; target: > *; delay: 100; repeat: true">
            {{ section.text }}
        </div>
    </div>
</section>