.nav-sub {
  $self: &;
  @extend .pt4;
  @extend .pl4;
  @extend .pr4;
  @extend .pb2;
  position: absolute;
  opacity: 0;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.4rem;
  row-gap: 1.4rem;
  top: 100%;
  right: -36rem;
  z-index: 10;

  @include breakpoint-down("md") {
    grid-template-columns: 1fr 1fr;
    right: 0;
    padding-left: 0 !important;
    position: static;
  }

  li:hover > & {
    display: grid;
    background: $white;

    @include breakpoint-down("md") {
      width: 100%;
    }

    a {
      color: $black;
      font-size: 1.4rem;
      @include breakpoint-down("md") {
        font-size: 1.2rem;
      }

      b {
        color: $main-color;
        font-size: 1.8rem;
        @include breakpoint-down("md") {
          font-size: 1.4rem;
        }
      }
    }
  }

  &::before {
    @include pseudo;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    top: -6px;
    left: 24px;
  }

  #{ $self } & {
    all: unset;
    margin-top: 2px;
    display: flex;
    flex-direction: column;

    #{ $self } & {
      margin-bottom: 0 !important;
    }


    &::before {
      all: unset;
    }
  }


  &__item {
    $self: &;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.2rem;

    #{ $self } & {
      all: unset;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }

    a {
      display: block;
      width: 20rem;
      text-transform: uppercase;
      margin-bottom: 0.5rem;

      @include breakpoint-down("md") {
        width: auto;
        margin-bottom: 0.1rem;
      }

      &:hover {
        color: $second-color !important;
      }
    }
  }

}
