{% extends 'base.twig' %}

{% block body %}

    <section class="hero-main"  style="background-image: url({{ post.thumbnail.src }})">
        <div class="hero-main__container">
            <div class="hero-main__row">
                <div class="hero-main__inner">
                </div>
            </div>
        </div>
    </section>

    <section class="title-page">
        <div class="o-container">
            <div class="title-page__text" uk-scrollspy="cls:uk-animation-fade; delay: 100; repeat:true;">
                <h1><span style="color: #FFBE0C">{{ post.title }}</span><br><span style="color:#203A71;">{{ post.meta('subtitle') }}</span></h1>
            </div>
        </div>
    </section>

    <section class="full-text">
        <div class="o-container">
            <div class="full-text__wrapper" uk-scrollspy="cls: uk-animation-fade; target: > *; delay: 100; repeat: true">
                {{ post.meta('text_full') }}
            </div>
        </div>
    </section>


    <section class="two-column">
        <div class="o-container">
            <div class="o-row">
                <div class="two-column__wrapper" uk-scrollspy="cls:uk-animation-fade; target: .two-column__item; delay: 150; repeat:true;">
                    {% for item in post.meta('column') %}
                        <div class="two-column__item">
                            {{ item.text }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="post-list">
        <div class="o-container">
            <div class="o-row">
                <div class="post-list__container" uk-scrollspy="cls:uk-animation-fade; target: > *; delay: 150; repeat:true;">
                    {% for post in posts %}
                        {% include "/blog/loop-element/loop-element.twig" %}
                    {% endfor %}
                    {% if posts.pagination.pages %}
                        {% include "/blog/pagination/pagination.twig" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}