.contact {
  padding: 4rem 0;

  &__wrapper {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;

    @include breakpoint-down("sm") {
      grid-template-columns: 1fr;
      column-gap: 2rem;
    }

    .top__icon {
      margin-bottom: 2rem;
    }
  }

  &__list {
    h2 {
      text-transform: uppercase;
      margin-bottom: 3rem;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 32% 1fr;
    column-gap: 3rem;
    row-gap: 3rem;

    .left {
      text-align: right;
      font-weight: $font-700;
    }

    .right {
      color: $black;
    }
  }
}