<section class="contact">
    <div class="o-container">
        <div class="contact__wrapper">
            <div class="contact__col">
                {{ section.text }}
                <div class="contact__list" uk-scrollspy="cls:uk-animation-slide-left; delay: 100; repeat: true">
                    {% if section.title %}
                        {{ section.title }}
                    {% endif %}
                    {% for elem in section.desc %}
                        <div class="contact__item">
                            <div class="left">
                                {{ elem.left }}
                            </div>
                            <div class="right">
                                {{ elem.right }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="contact__col" uk-scrollspy="cls:uk-animation-slide-right; target: > *; delay: 120; repeat: true">
                {{ section.form }}
            </div>
        </div>
    </div>
</section>