.text-list {
  background: rgb(32,58,113);
  background: linear-gradient(90deg, rgba(32,58,113,1) 42%, rgba(255,190,12,1) 42%);
  margin-bottom: 2rem;

  @include breakpoint-down("xs") {
    background: linear-gradient(180deg, rgba(32,58,113,1) 50%, rgba(255,190,12,1) 50%);
    padding-top: 4rem;
  }

  .o-row {
    display: grid;
    grid-template-columns: 39rem 1fr;
    align-self: center;

    @include breakpoint-down("xs") {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }

  &__left {
    background: $main-color;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 2rem 2rem 2rem 0;

    * {
      color: $white;
    }

    h2, h3 {
      text-transform: uppercase;
    }
  }

  &__content {
    background: $second-color;
    padding: 5rem 0 5rem 3.5rem;
  }
}