<section class="text-list">
    <div class="o-container">
        <div class="o-row">
            <div class="text-list__left" uk-scrollspy="cls: uk-animation-fade; target: > *; delay: 100; repeat: true">
                {{ section.title }}
            </div>
            <div class="text-list__content" uk-scrollspy="cls: uk-animation-fade; target: > *; delay: 200; repeat: true">
                {{ section.text }}
            </div>
        </div>
    </div>
</section>


