.steps {
  padding: 8rem 0;

  @include breakpoint-down("sm") {
    padding: 3rem 0;
  }

  .o-row {
    display: grid;
    grid-template-columns: 37rem 1fr;
    column-gap: 2rem;

    @include breakpoint-down("sm") {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    h2, h3 {
      text-transform: uppercase;
      font-size: 3.5rem;
    }

    @include breakpoint-down("sm") {
      margin-bottom: 2rem;
    }
  }

  &__text {
    b, strong {
      color: $second-color;
    }

    ul {
      margin: 2rem 0 2rem 3rem;
      list-style: disc;
      color: $black;
    }
  }

}