<section class="steps">
    <div class="o-container">
        <div class="o-row">
            {% if section.title %}
            <div class="steps__title" uk-scrollspy="cls:uk-animation-fade; target: > *; delay: 100; repeat:true;">
                {{ section.title }}
            </div>
            {% endif %}
            {% if section.text %}
                <div class="steps__text" uk-scrollspy="cls:uk-animation-fade; target: > *; delay: 150; repeat:true;">
                    {{ section.text }}
                </div>
            {% endif %}
        </div>
    </div>
</section>