
<header class="header">
    {% if options.show_top %}
        {% include 'top/top.twig' %}
    {% endif %}
    <div class="header__container">
        <div class="header__row">

            <div class="header__logo">
                {% include 'logo/logo.twig' %}
            </div>

            <nav class="header__nav">
                {% include 'nav-main/nav-main.twig' with {'class': 'nav-main--main', 'menu': nav_main} %}
            </nav>

            <button class="header__hamburger uk-icon" id="ham">
                <svg width="26" height="26" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect x="2" y="4" width="16" height="1"></rect><rect x="2" y="9" width="16" height="1"></rect><rect x="2" y="14" width="16" height="1"></rect></svg>
            </button>
            {% include 'nav-mobile/nav-mobile.twig' with {'class': 'nav-main--main', 'menu': nav_main} %}


        </div>
    </div>
</header>
