.header {
  position: fixed;
  width: 100% !important;
  top: 0;
  transition: 0.3s;
  z-index: 10;
  background: $white;
  box-shadow: 0 2px 4px #0000001a;

  &--scroll-down {
    @include breakpoint-down("md") {
      transform: translateY(-85px);
    }
  }

  &--scroll-up {
    @include breakpoint-down("md") {
      transform: translateY(-85px);
    }
  }


  &--scroll {
    background-color: $white;
  }

  &__hamburger {
    display: none;

    @include breakpoint-down("md") {
      display: block;
    }
  }

  &__container {
    @extend .o-container;
    @extend .py4;
  }

  &__row {
    @extend .o-grid;
    justify-content: space-between;
    align-items: stretch;
  }

  &__logo {
    position: relative;
    max-width: 30rem;

    @include breakpoint-down("xs") {
      max-width: 21rem;
    }

    a {
      display: block;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }

  &__nav {
    @extend .px3;
    display: flex;
    max-width: calc(100% - 33rem);
    width: 100%;

    @include breakpoint-down("md") {
      display: none;
    }
  }
}
