.modula_menu {
  &__list {
    display: flex;
    column-gap: 1rem;
  }

  &__item {
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 1rem 1.4rem;
  }

}

.gallery {
  margin: 2rem 0 5rem;

  .filters {
    margin-bottom: 2rem;
  }
}