.btn {
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  max-width: 27rem;
  width: 100%;
  border-radius: 3rem;
  line-height: 1;
  transition: all 300ms ease-in;
  text-align: center;

  &--main {
    color: $white;
    background-color: $main-color;

    &:hover {
      background: $second-color;
    }
  }
}
