$breakpoints: (
        xs: 576px,
        sm: 769px,
        md: 992px,
        lg: 1200px,
        xl: 1440px,
        xxl: 1560px,
        fhd: 1920px,
);

$container-sizes: (
        xs: 100%,
        sm: 95%,
        md: 95%,
        lg: 90%,
        xl: 1170px,
        xxl: 1170px,
        fhd: 1170px,
);

//margin-padding
$spaces: (
        1: 0.4rem,
        2: 0.8rem,
        3: 1.6rem,
        4: 2.4rem,
        5: 3.2rem,
        6: 4.8rem,
        7: 6.4rem,
        8: 8rem,
        9: 12rem,
        10: 16rem,
);


// font
$primary-font-family: 'Inter', sans-serif;
$second-font-family: $primary-font-family;
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-800: 800;

//colors
$main-color: #203A71;
$light-main-color: #D0D4EA;
$second-color: #FFBE0C;
$body-bg: #E5E5E5;

$black: #4C5F6F;
$white: #fff;

