.yellow-bg {
  padding: 8.5rem 0;
  background: $second-color;
  margin: 3rem 0;

  &__title {
    text-align: center;
    width: 100%;

    * {
      color: $white;
      text-transform: uppercase;

      a {
        color: $main-color;
        text-decoration: none;
      }
    }
  }
}