<footer class="footer">
    <div class="footer__container">

        <div class="footer__info">
            <img class="mb2" src="{{ options.logoWhite.url }}" alt="{{ options.logoWhite.alt }}" uk-scrollspy="cls: uk-animation-fade; delay: 100; repeat: false">
            <div class="footer__info--text" uk-scrollspy="cls: uk-animation-fade; delay: 200; repeat: false">
                {{ options.description }}
            </div>
        </div>

        <div class="footer__menu">
            <div class="footer__label">{{ __('Menu', 'speed-parkiet') }}</div>
            {% include 'nav-footer/nav-footer.twig' %}
        </div>

        <div class="footer__menu footer__menu-service">
            <div class="footer__label">{{ __('Oferta', 'speed-parkiet') }}</div>
            {% include 'nav-footer/nav-service-footer.twig' %}
        </div>

    </div>

</footer>
<div class="copyright">
    <div class="copyright__wrapper" uk-scrollspy="cls: uk-animation-fade;target: > *; delay: 100; repeat: false">
        <p >{{ 'now' | date('Y') }} @ {{site.name}}</p>
        {% include 'footer-socials/footer-socials.twig' %}
        <p class="agency">
            <span>{{ __('Projekt i realizacja:', 'speed-parkiet') }}</span>
            <a title="Agencja reklamowa Haiku Studio" href="https://haiku.com.pl/" target="_blank" rel="nofollow" >
                {{ __('Agencja reklamowa Haiku Studio', 'speed-parkiet') }}
            </a>
        </p>
    </div>
</div>
