.footer {
  padding: 6rem 0;
  color: $light-main-color;
  font-size: 1.6rem;
  background: $main-color;

  @include breakpoint-down("sm") {
    padding: 2rem 0;
  }

  p {
    color: $light-main-color;
    font-size: 1.6rem;
  }


  &__container {
    @extend .o-container;
    display: grid;
    grid-template-columns: 40rem 12rem 1fr;
    column-gap: 4rem;

    @include breakpoint-down("md") {
      grid-template-columns: 1fr 7rem 1fr;
    }

    @include breakpoint-down("xs") {
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 2rem;
      grid-template-areas:
        "top top top"
        "lone two two";
    }
  }

  &__info {
    @include breakpoint-down("xs") {
      grid-area: top;
    }
  }

  &__menu {
    @include breakpoint-down("xs") {
      grid-area: lone;
    }

    &-service {
      @include breakpoint-down("xs") {
        grid-area: two;
      }
    }
  }

  &__label {
    display: flex;
    color: $white;
    font-weight: $font-700;
  }

  .top {
    &__icon {
      margin-bottom: 1.9rem;
      margin-right: 0;
      text-transform: none;

      &:before {
        margin: .5rem 1.6rem 0 0;
      }
    }
  }
}

.copyright {
  background: $main-color;

  &__wrapper {
    display: grid;
    max-width: 120rem;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: 1fr 29rem 1fr;
    align-self: center;
    padding: 2.2rem 0;
    border-top: .2rem solid $second-color;

    @include breakpoint-down("lg") {
      padding: 1rem 2rem;
    }

    @include breakpoint-down("xs") {
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    * {
      color: $light-main-color;
      font-size: 1.6rem;
      font-weight: $font-500;

      @include breakpoint-down("lg") {
        font-size: 1.3rem;
        line-height: 1.2;
      }
    }

    a {
      text-decoration: none;
      font-weight: $font-500;
    }

    .agency {
      text-align: right;

      @include breakpoint-down("sm") {
        text-align: center;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
      }

      @include breakpoint-down("xs") {
        align-items: center;
      }
    }
  }
}