.fullwidth-text {
  position: relative;
  padding-bottom: 4rem;
  min-height: 56vh;
  display: flex;
  align-items: center;

  @include breakpoint-down("sm") {
    flex-wrap: wrap;
  }

  &.left {

    .o-container {
      display: flex;
      justify-content: flex-end;
    }

    .fullwidth-text__image{

      @include breakpoint-down("lg") {
        max-width: 40rem;
      }

      @include breakpoint-down("md") {
        max-width: 32rem;
      }
    }
  }

  &.right {

    @include breakpoint-down("xs") {
      justify-content: flex-end;
    }

    .fullwidth-text__wrapper {
      flex-flow: row-reverse;

      @include breakpoint-down("lg") {
        flex-flow: column;
      }
    }

    .fullwidth-text__image{
      left: auto;
      right: 0;

      @include breakpoint-down("lg") {
        max-width: 34rem;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @include breakpoint-down("lg") {
      flex-flow: column;
    }
  }

  &__content {
    width: 100%;
    max-width: 94rem;
    justify-content: center;
    display: flex;
    flex-flow: column;

    @include breakpoint-down("xxl") {
      max-width: 76rem;
    }

    @include breakpoint-down("lg") {
      max-width: 56%;
    }

    @include breakpoint-down("xs") {
      max-width: 100%;
    }

    h2, h3 {
      text-transform: uppercase;
      margin: 4rem 0;
    }
  }

  &__image {
    object-fit: contain;
    max-width: 50rem;
    position: absolute;
    left: 0;
    right: auto;
    top: auto;

    @include breakpoint-down("lg") {
      max-width: 100%;
    }

    @include breakpoint-down("xs") {
      position: relative;
      display: block;
      margin-bottom: 2rem;
    }
  }

  &__img {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 38%;
    flex-wrap: wrap;
    overflow: hidden;

    @include breakpoint-down("lg") {
      height: 60vh;
      width: 100%;
    }

    @include breakpoint-down("xs") {
      height: auto;
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      max-width: unset;

      @include breakpoint-up("lg") {
        width: auto;
        height: 100%;
      }
    }
  }

  &__content {

    &-wrapper {
      max-width: 67.5rem;
      width: 100%;
      padding: 1.5rem 3rem;

      @include breakpoint-down("lg") {
        max-width: 100%;
      }
    }
  }

  &__descr {
    p {
      margin-bottom: 1.2rem;
    }
  }
}