<section class="fullwidth-text {{ section.side_img }}"
         {% if section.bg_color %}style="background: {{ section.bg_color }}"{% endif %} {% if show_padding %} style="padding-top:{{ section.padding_top }}px; padding-bottom:{{ section.padding_bottom }}px;"{% endif %}>
    <img class="fullwidth-text__image" src="{{ section.img.url }}" alt="{{ section.img.alt }}" uk-scrollspy="cls:uk-animation-fade; delay: 100; repeat:true;">
    <div class="o-container" uk-scrollspy="cls:uk-animation-fade; delay: 100; repeat:true;">
        <div class="fullwidth-text__content">
            {% if section.title %}
                <div class="title-left">
                    {{ section.title }}
                </div>
            {% endif %}
            <div class="fullwidth-text__descr">
                {{ section.text }}
            </div>
        </div>
    </div>
</section>