.quote-bg {
  padding: 10rem 0;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;

  @include breakpoint-down("sm") {
    padding: 3rem 0;
  }

  .o-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    align-self: center;

    @include breakpoint-down("xs") {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }

  &__text {
    * {
      color: $white;
      line-height: 1.2;
      font-size: 2.2rem;

      @include breakpoint-down("xs") {
        font-size: 2.5rem;
      }
    }

    h2 {
      font-size: 2.8rem;
      text-transform: uppercase;
    }

    h3, h4 {
      text-transform: uppercase;
      margin-bottom: 1.6rem;
    }

    a {
      text-decoration: underline;
      font-weight: $font-600;
    }

    ul {
      margin: 0 0 0 2.5rem;
      padding: 0;
      list-style: disc;

      li {
        font-size: 1.6rem;
        margin-bottom: 1.2rem;
      }
    }

  }

  &__text-right {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .bg {
      background-image: url("../static/images/svg/prawa-wspolpraca.svg");
      background-position: center;
      background-size: contain;
      color: $main-color;
      filter: opacity(.8);
      width: 40rem;
      height: 30rem;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      padding: 0 2rem;

      @include breakpoint-down("xs") {
        background-repeat: no-repeat;
        width: 29rem;
        height: 21rem;
      }

      * {
        font-weight: $font-700;
        font-size: 2.8rem;
        line-height: 4.5rem;
        text-align: center;
        font-style: italic;

        @include breakpoint-down("xs") {
          font-size: 2.2rem;
          line-height: 1.2;
        }
      }
    }
  }

}