<section class="quote-bg" {% if section.bg %}style="background-image: url({{ section.bg.url }})"{% endif %}>
    <div class="o-container">
        <div class="o-row">
            <div class="quote-bg__text" uk-scrollspy="cls:uk-animation-slide-left; delay: 100; repeat: true">
                {{ section.text }}
            </div>
            <div class="quote-bg__text-right" uk-scrollspy="cls:uk-animation-slide-right; delay: 200; repeat: true">
                <div class="bg">
                    {{ section.textRight }}
                </div>
            </div>
        </div>
    </div>
</section>