.nav-main {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: $white;
  align-items: stretch;
  width: 100%;
  justify-content: space-evenly;

  @include breakpoint-down("md") {
    flex-flow: column;
  }

  &__item {
    display: flex;
    align-items: center;
    color: $black;
    margin-right: 2.5rem;
    font-size: 1.6rem;
    font-weight: 300;

    @include breakpoint-down("md") {
      margin-right: 0;
      font-size: 1.4rem;
      flex-flow: column;
    }

    &--has-children {
      position: relative;

      > ul {
        &.open-menu {
          display: grid;
        }
        &:not(.open-menu) {
          display: none;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;

    &[href]:hover, &.current-menu-item {
      color: $second-color;
    }
  }

  &--contact {
    .nav-main__item {
      margin-right: 20px;
    }

    .nav-sub {
      display: none !important;
    }

  }

  &--lng {
    .nav-main__item {
      margin-right: 0;
    }
  }

  .chevron-down {
    -webkit-mask-image: url("../static/images/svg/chevron-down.svg");
    width: 24px;
    height: 14px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 18px;
    -webkit-mask-position: center;
    background-color: $black;

    @include breakpoint-down("md") {
      background-color: $white;
    }
  }
  .arrow-bottom {
    margin-left: 4px;
    width: 2.4rem;
    height: 1.4rem;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    background-color: $black;
    -webkit-mask-image: url("../static/images/svg/chevron-down.svg");
    -webkit-mask-position: center;
    display: none;
    transition: all 300ms ease-out;

    @include breakpoint-down("md") {
      background-color: $white;
    }

    &:not(.desktop) {
      display: block;

      @include breakpoint-down("md") {
        position: absolute;
        right: 37%;
        background-color: $second-color;
      }

      @include breakpoint-down("xs") {
        right: 30%;
      }
    }

    &.active {
      transform: rotate(180deg);
      transition: all 300ms ease-out;
      background-color: #FF9A08;
    }

    @include breakpoint-down("md") {
      margin-left: .8rem;
      width: 2rem;
      height: 1.8rem;
      -webkit-mask-size: 1.6rem;
      display: block;
    }
  }
}

.uk-offcanvas-bar {
  max-width: 59vw;
  width: 100%;
  background: #fff;

  @include breakpoint-down("xs") {
    max-width: 75vw;
  }

  a {
    color: $main-color;

    @include breakpoint-down("md") {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}

.uk-offcanvas-close {
  background-color: $second-color;
}
