<section class="icons">
    <div class="o-container">
        <div class="o-row">
            <div class="title-center" uk-scrollspy="cls: uk-animation-fade; delay: 100; repeat: true">
                {{ section.title }}
            </div>
            <div class="icons__list" uk-scrollspy="cls: uk-animation-fade; target: .icons__item; delay: 200; repeat: true">
                {% for item in section.icon %}
                    <div class="icons__item">
                        <img class="icons__item--img" src="{{ item.icon_img.url }}" alt="">
                        <div class="icons__item--title">
                            {{ item.icon_text }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>