.post {
  &-list {
    margin: 3rem 0 0;

    &__container {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 3rem;
      row-gap: 3rem;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 37rem 1fr;
    column-gap: 3rem;
    align-self: center;

    &-thumb {
      width: 100%;
      max-width: 37rem;
      height: 37rem;
      overflow: hidden;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      border-radius: 3rem;

      img {
        height: 100%;
        width: auto;
        max-width: unset;
      }
    }

    &-content {
      padding: .5rem 2.5rem 2.5rem;
      display: flex;
      flex-flow: column;
    }

    &-title {
      font-weight: bold;
      font-size: 2.4rem;
      line-height: 3rem;
      margin: 0 0 1.2rem;
    }

    .btn__link {
      color: $main-color;
      text-decoration: underline;
    }
  }
}