<div class="post__item" >

    <a class="post__item-thumb" href="{{ post.link }}" rel="nofollow">
        <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.alt }}">
    </a>

    <div class="post__item-content">
        <div class="post__item-content-top">
            <a href="{{ post.link }}">
                <h2 class="post__item-title">
                    {{ post.title }}
                </h2>
            </a>
            <div class="post__item-description">
                {{ post.preview.length(50).force.read_more('') }}
            </div>
        </div>
        <div class="post__item-row">
            <a class="btn__link" href="{{ post.link }}" rel="nofollow">Czytaj dalej</a>
        </div>
    </div>
</div>
