.wpcf7 {

  h3 {
    margin-bottom: 2rem;
  }

  form {
    p {
      margin-bottom: 2rem;
    }
  }

  input, textarea {
    background: #DBDFE2;
    border-radius: 2.5rem;
    max-width: 47rem;
    width: 100%;
    height: 5rem;
    padding: 1rem 2.5rem;

    &:focus {
      background: $second-color;
      border: 0;
      outline: 0;
    }
  }

  label {
    padding-left: 2.5rem;
  }

  textarea {
    min-height: 20rem;
    max-height: 20rem;
    width: 100%;
    min-width: 100%;
  }

  button[type="submit"] {
    @extend .btn;
    @extend .btn--main;
  }
}

span.wpcf7-list-item {
  display: inline-block;
  margin: 0;
}

.wpcf7 .wpcf7-list-item {
  display: flex;
  margin-bottom: 10px;
}

.wpcf7-acceptance label {
  position: relative;
  cursor: pointer;
}

.wpcf7-acceptance input[type=checkbox] {
  /*position: relative;*/
  position: absolute;
  visibility: hidden;
  width: 2rem;
  height: 2rem;
  top: 0;
  left: 0;
}

.wpcf7-acceptance input[type=checkbox] + span {
  /* border: 3px solid red; */
}

.wpcf7-acceptance input[type=checkbox] + span:before {
  display: block;
  position: absolute;
  content: '';
  height: 2rem;
  width: 2rem;
  top: .9rem;
  left: 0;
  border: 1px solid $second-color;
  border-radius: 5px;
}

.wpcf7-acceptance input[type=checkbox] + span:after {
  display: block;
  position: absolute;
  content: "";
  background: url("../static/images/svg/check.svg") center no-repeat;
  background-size: 1.8rem;
  height: 2rem;
  width: 2rem;
  top: .9rem;
  left: 0;
  visibility: hidden;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2rem;
}

.wpcf7-acceptance input[type=checkbox]:checked + span:before {
  background: rgba(191, 137, 90, 0.3);
}

.wpcf7-acceptance input[type=checkbox]:checked + span:after {
  visibility: visible;
}

.wpcf7-list-item-label {
  margin-left: 2.4rem;
  display: inline-block;
  color: $black;
  padding-top: .5rem;

  a {
    color: $second-color;
  }
}