html {
  font-size: 62.5%;
}

body {
  font-family: $primary-font-family;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  color: $main-color;
  background-color: $white;
}

h1, .h1 {
  font-family: $second-font-family;
  font-size: 6rem;
  font-weight: $font-800;
  line-height: 7rem;
  color: $main-color;

  @include breakpoint-down("sm") {
    font-size: 4rem;
    line-height: 1.2;
  }
}

h2, .h2 {
  font-family: $second-font-family;
  font-size: 3.5rem;
  font-weight: $font-700;
  line-height: 4rem;
  color: $main-color;
}

h3, .h3 {
  font-family: $second-font-family;
  font-size: 2.5rem;
  font-weight: $font-600;
  line-height: 3.5rem;
  color: $main-color;
}

h4, .h4 {
  font-family: $second-font-family;
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: $font-600;
  color: $main-color;
}

h5, .h5 {
  font-family: $second-font-family;
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: $font-600;
  color: $main-color;
}

h6, .h6 {
  font-family: $second-font-family;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: $font-600;
  color: $main-color;
}

p, .p {
  font-family: $primary-font-family;
  font-size: 1.6rem;
  font-weight: $font-400;
  line-height: 3rem;
  color: $black;

  a {
    color: $second-color;
    text-decoration: underline;
    font-weight: 600;
  }
}

b, strong {
  font-weight: $font-700;
}


.text-big {
  font-family: $primary-font-family;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: $black;
}

.text-small {
  font-family: $primary-font-family;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: normal;
  color: $black;
}

.caption {
  font-family: $primary-font-family;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.166667;
  color: $black;
}

.link {
  font-family: $primary-font-family;
  font-size: 1.6rem;
  font-weight: $font-700;
  line-height: 2.4rem;
  text-decoration-line: underline;
  color: $second-color;
}

.title-center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  margin-bottom: 4rem;
}

ul.custom-ul {
  margin: 2rem 0 2rem 3rem;
  list-style: disc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  color: $black;
}
