.row-text {
  margin: 3rem 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    align-self: center;

    @include breakpoint-down("sm") {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 3rem;
    }
  }

  &__img {
    width: auto;
    display: flex;

    img {
      object-fit: contain;
    }
  }

  &__content {
    h2, h3 {
      text-transform: uppercase;
      margin-bottom: 3rem;
    }

    p {
      margin-bottom: 1.6rem;
    }

    ul {
      @extend .custom-ul;
    }
  }

}