<section class="row-text {{ section.side_img }}" {% if section.show_padding %}style="padding-top:{{ section.padding_top }}px;padding-bottom:{{ section.padding_bottom }}px;"{% endif %}>
    <div class="o-container">
        <div class="row-text__wrapper">
            {% if section.side_img == 'left' %}
                <div class="row-text__img ">
                    <img src="{{ section.img.url }}" alt="{{ section.img.alt }}" uk-scrollspy="cls:uk-animation-slide-left; delay: 100; repeat: true">
                </div>

                <div class="row-text__content" uk-scrollspy="cls:uk-animation-slide-right; delay: 100; repeat: true">
                    {{ section.title }}
                    {{ section.text }}
                </div>
            {% else %}
                <div class="row-text__content" uk-scrollspy="cls:uk-animation-slide-left; delay: 100; repeat: true">
                    {{ section.title }}
                    {{ section.text }}
                </div>
                <div class="row-text__img">
                    <img src="{{ section.img.url }}" alt="{{ section.img.alt }}" uk-scrollspy="cls:uk-animation-slide-right; delay: 100; repeat: true">
                </div>
            {% endif %}
        </div>
    </div>
</section>