.nav-footer {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;

  &.service-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__item {
    display: flex;
    margin-bottom: 1rem;
  }

  &__link {
    @include h-color($main-color);
    font-weight: $font-600;
  }
}

