<ul class="nav-footer" uk-scrollspy="cls: uk-animation-fade; target: .nav-footer__item; delay: 200; repeat: false">
  {% for item in nav_footer.items %}
    <li class="nav-footer__item">
      <a class="nav-footer__link" href="{{ item.link }}">{{item.title}}</a>
    </li>
  {% endfor %}
</ul>
