<ul class="nav-footer service-footer" uk-scrollspy="cls: uk-animation-fade; target: .nav-footer__item; delay: 100; repeat: false">
    {% for nav in nav_services_footer.items %}
        <li class="nav-footer__item">
            <a class="nav-footer__link" href="{{ nav.link }}">{{nav.title}}</a>
        </li>
    {% endfor %}
</ul>
