html {
  scroll-behavior: smooth;
}

body {
  z-index: 1;
  position: relative;

  &.admin-bar {
    margin-top: 32px;

    .header {
      top: 3.2rem;
    }
  }
}

* {
  box-sizing: border-box;
}

a[href] {
  cursor: pointer;
}

.o-container {
  @include breakpoint-down("sm") {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#main {
  margin-top: 9.8rem;

  @include breakpoint-down("xs") {
    margin-top: 8.3rem;
  }
}

section {
  overflow: hidden;
}