.two-column {
  padding: 2rem 0;

  @include breakpoint-down("sm") {
    padding: 3rem 0 4rem;
  }

  .title {
    * {
      margin-bottom: 3rem;
      @extend .h2;
      text-transform: uppercase;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include breakpoint-down("sm") {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding-right: 2rem;

    h2, h3 {
      text-transform: uppercase;
      margin-bottom: 1.6rem;
    }

    p {
      font-size: 1.6rem;
      letter-spacing: 0.15px;
      margin-bottom: 1.4rem;
    }

    ul {
      @extend .custom-ul;
      grid-template-columns: 1fr 1fr;
    }
  }
}