<section class="two-column">
    <div class="o-container">
        <div class="o-row">
            {% if section.title %}
                <div class="title">
                    <h2 uk-scrollspy="cls:uk-animation-fade; delay: 100; repeat:true;">{{ section.title }}</h2>
                </div>
            {% endif %}
            <div class="two-column__wrapper" uk-scrollspy="cls:uk-animation-fade; target: .two-column__item; delay: 150; repeat:true;">
                {% for item in section.column %}
                    <div class="two-column__item">
                        {{ item.text }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>